        #top{
            width: 100%;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        text-align: center;
        }
        
        .body{
            display: flex;
        }

        #con{

            width: 30%;
           display: flex;
           flex-direction: column;
         
          border: 1px soild;
       }

        #main,#main1{
            align-self: center;
            background-color: rgb(243, 240, 240);
            text-align: center;
        margin-bottom: 50px;
            width: 80%;
            padding: 2%;
            border-radius: 10px;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        }
       
        #main>p,#main1>p{
            font-size: 20px;
            font-family: Futura-Medium, "Century Gothic", "Gill Sans", Helvetica, Arial, sans-serif;
            font-weight: 600;
            line-height: 30px;
        }

        input,select{
            padding: 10px 0px 10px 0px;
            width: 95%;
            margin-bottom: 15px;
            border-radius: 5px;
            color: grey;
            border: 1px solid grey;
        }

        #submit{
            background-color: rgb(58, 42, 124);
            color: beige;
            font-weight: 600;
        }
        h3{
            margin: 30px;
            
        }
        #container{
            width: 70%;
            margin: auto;
            display: grid;
            grid-template-columns: repeat(4,1fr);
            gap: 10px;
        }
        #container p{
            font-size: 70%;
            font-weight: 600;
        }
        #card{
            
           border: 1px solid rgb(224, 221, 221);
        }
        #cartdiv1{
           text-align: center;
        }
        #cartdiv1>img{
            width: 70%;
            
        }
        #cartdiv2{
            padding: 10px;
        }